.title-filter{
    margin: 12px 0 12px 0;
    text-align: center;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.accordion{
    margin: 18px 0 14px 0;
}
.accordion-button:not(.collapsed){
    background: var(--backgroundColorAccordion);
    color:white;
}
.accordion-collapse{
    background: var(--backgroundColor);
}
.form-control-hidden{
    display: none;
}