:root{
  --backgroundColor:#f6f6f6;
  --mainColor:#fc3434;
  --fontColor:#222222;
  --backgroundFilter:#e7e7e7c9;
  --backgroundColorAccordion:#ff4848c9;
}

*{
  margin: 0;
  padding: 0;
}

body{
  background: var(--backgroundColor);
}

.main-layout {
  margin-top: 22px;
  width: 100%;
  height: 100%;
}

.container-filters{
  width: 20%;
  height: 800px;
  position: sticky;
  border-radius: 18px;
  background: var(--backgroundFilter);
}

.container-grid{
  width: 80%;
  /* margin-left: 20%; */
  /* display: flex; */
  /* align-items: center; */
}

.container-loading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#loading {
  width: 2.5em;
  height: 3em;
  border: 3px solid transparent;
  border-top-color: #fc2f70;
  border-bottom-color: #fc2f70;
  border-radius: 50%;
  animation: spin-stretch 2s ease infinite;
}

@keyframes spin-stretch {
  50% {
    transform: rotate(360deg) scale(0.4, 0.33);
    border-width: 8px;
  }
  100% {
    transform: rotate(720deg) scale(1, 1);
    border-width: 3px;
  }
}